@import "tailwindcss";

@theme {
  --color-primary: #1877f2;
  --color-primary-dark: #1461c4;
  --color-primary-light: #d6e6ff;
  --color-secondary: #f0f2f5;
  --color-muted-foreground: #6b7280;
  --color-danger: #e11d48;
  --color-success: #22c55e;
  --color-light: #ffffff;
  --color-dark: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #1877f2;
    --color-primary-dark: #1461c4;
    --color-primary-light: #d6e6ff;
    --color-secondary: #f0f2f5;
    --color-muted-foreground: #6b7280;
    --color-danger: #e11d48;
    --color-success: #22c55e;
    --color-light: #ffffff;
    --color-dark: #000000;
  }
}
